/* 
font-family: 'Indie Flower', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'PT Mono', monospace;
*/

#main {
	font-family: 'PT Mono', monospace;
	background-color: #36393f42;
	overflow-x: hidden;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

#welcome-section {
	margin-top: 90px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-width: 320px;
	height: 100vh;
	text-align: center;
	background-color: #5A8391;
	font-size: 1.2em;
}

#nome {
	color: #E0E0E0;
}

#welcome-section p {
	color: rgb(240, 240, 240);
	font-size: 1.5rem;
}

#tech {
	color: rgb(248, 0, 0);
}

#navbar, footer {
	background-color: #006385;
}

#navbar {
	position: absolute;
	top: 0;
	width: 100%;
	min-width: 320px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 5px;
	font-size: 1.2em;
}

#navbar div {
	margin: 0 15px;
}

#navbar a {
	background-color: #E0E0E0;
	border: 1.5px solid #E0E0E0;
	color: #006385;
	padding: 10px;
}

#navbar a:hover, #navbar a:focus {
	color: rgb(97, 97, 97);
}

#projects {
	margin-top: 25px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

h2 {
	text-align: center;
	font-size: 2rem;
	color: #006385;
}

.project-tile {
	margin: 5vh 0;
	width: 280px;
	height: 280px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project-tile img {
	width: 300px;
	height: 200px;
}

.btnProject {
	background-color: #006385;
	border: 1.5px solid #006385;
	color: #E0E0E0;
	border-radius: 5%;
	padding: 10px;
}

.btnProject:hover, .btnProject:focus {
	background-color: #E0E0E0;
	color: #006385;
}

footer {
	padding-bottom: 30px;
}

#profile-link {
	font-size: 1.2rem;
	color: #E0E0E0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#profile-link div {
	text-align: center;
	margin: 25px 10px;
	border-radius: 5%;
}

#profile-link a {
	line-height: 40px;
	padding: 10px;
	padding-left: 50px;
	color: #E0E0E0;
	border-radius: 5%;
}

#profile-link input {
	border: none;
	border-radius: 5%;
	padding: 10px;
	padding-left: 50px;
	background-color: #006385;
	color: #E0E0E0;
}

#profile-link a:hover, #profile-link a:focus, #profile-link input:hover, #profile-link input:focus {
	background-color: #E0E0E0;
	color: #006385;
	cursor: pointer;
}

#github {
	background-image: url(img/github.png);
	background-size: 42px 42px;
	background-repeat: no-repeat;
}

#linkedin {
	background-image: url(img/linkedin.png);
	background-size: 42px 42px;
	background-repeat: no-repeat;
}

#facebook {
	background-image: url(img/facebook.png);
	background-size: 42px 42px;
	background-repeat: no-repeat;
}

#email {
	background-image: url(img/mail.png);
	background-size: 42px 42px;
	background-repeat: no-repeat;
}

#telefone {
	background-image: url(img/whatsapp.png);
	background-size: 42px 42px;
	background-repeat: no-repeat;
}

.cnt {
	font-size: 1.2rem;
	color: #E0E0E0;
	text-align: center;
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
	#projects {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.project-tile {
		margin: 50px 0;
		width: 360px;
		height: 280px;
	}
	.project-tile img {
		width: 320px;
		height: 240px;
	}
	#profile-link {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
	.project-tile {
		margin: 60px 0;
		width: 420px;
		height: 340px;
	}
	.project-tile img {
		width: 320px;
		height: 240px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
	.project-tile {
		margin: 70px 0;
		width: 420px;
		height: 340px;
	}
	.project-tile img {
		width: 320px;
		height: 240px;
	}
}

.animated-border-button {
	background-color: #ffffff;
	border: none;
	color: #ffffff;
	outline: none;
	padding: 12px 40px 10px;
	position: relative;
}

.animated-border-button:before, .animated-border-button:after {
	border: 0 solid transparent;
	transition: all 0.3s;
	content: '';
	height: 0;
	position: absolute;
	width: 24px;
}

.animated-border-button:before {
	border-top: 2px solid #ffffff;
	right: 0;
	top: -4px;
}

.animated-border-button:after {
	border-bottom: 2px solid #ffffff;
	bottom: -4px;
	left: 0;
}

.animated-border-button:hover:before, .animated-border-button:hover:after {
	width: 100%;
}