/* 
font-family: 'Indie Flower', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'PT Mono', monospace;
*/

body {
	font-family: 'PT Mono', monospace;
	background-color: #DCDCDC;
}

main {
	text-align: justify;
	line-height: 1.5rem;
	font-size: 1.1rem;
	margin: 50px 0;
}

main header {
	margin: 40px 0;
}

code {
	margin: 20px 0;
	padding: 10px 20px;
	background-color: rgb(206, 206, 204);
}

ul {
	list-style-type: circle;
}

aside ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

#btn {
	padding: 5px 10px;
	color: #FFF;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #B5B4B3;
	margin: 0 10%;
	margin-top: 30px;
	line-height: 32px;
	border: 1px solid #B5B4B3;
	border-radius: 10px;
}

#btn:hover, #btn:focus {
	background-color: #DCDCDC;
	opacity: 0.95;
	cursor: pointer;
}

main {
	transition: margin-left .8s;
}

#closebtn {
	font-size: 1.1rem;
	text-align: center;
}

aside {
	width: 0px;
	height: 100%;
	  position: fixed;
	  z-index: 1;
	  top: 0;
	  left: 0;
	  background-color: #B5B4B3;
	  overflow-x: hidden;
	  transition: 0.8s;
	  padding-top: 30px;
}

#nav-bar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#nav-bar h2 {
	font-size: 1.5rem;
	line-height: 64px;
	background-image: url(img/js.png);
	background-repeat: no-repeat;
	background-size: 64px 64px;
	padding-left: 66px;
}

#nav-bar ul {
	display: block;
	padding: 0;
	list-style-type: none;
	width: 100%;
}

#nav-bar li {
	border-top: 1px solid black;
}

#nav-bar a {
	display: block;
	padding: 15px 30px;
	width: 100%;
	height: 100%;
	color: black;
}

#nav-bar li:hover, #nav-bar li:focus {
	box-shadow: 0 0 1000px #DCDCDC inset;
	cursor: pointer;
}

main {
	margin-left: 10%;
	width: 70%;
	min-width: 250px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	main {
		transition: margin-left .8s;
	}
	
	#closebtn {
		font-size: 1.1rem;
		text-align: center;
	}

	aside {
		width: 0px;
		height: 100%;
  		position: fixed;
  		z-index: 1;
  		top: 0;
  		left: 0;
  		background-color: #B5B4B3;
  		overflow-x: hidden;
  		transition: 0.8s;
  		padding-top: 30px;
	}
	
	#nav-bar {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	#nav-bar h2 {
		font-size: 1.5rem;
		line-height: 64px;
		background-image: url(img/js.png);
		background-repeat: no-repeat;
		background-size: 64px 64px;
		padding-left: 66px;
	}
	
	#nav-bar ul {
		display: block;
		padding: 0;
		list-style-type: none;
		width: 100%;
	}
	
	#nav-bar li {
		border-top: 1px solid black;
	}
	
	#nav-bar a {
		display: block;
		padding: 15px 30px;
		width: 100%;
		height: 100%;
		color: black;
	}
	
	#nav-bar li:hover, #nav-bar li:focus {
		box-shadow: 0 0 1000px #DCDCDC inset;
		cursor: pointer;
	}

	main {
		margin-left: 10%;
		width: 80%;
		min-width: 0;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	#closebtn, #btn {
		position: absolute;
  		left: -10000px;
  		width: 1px;
  		height: 1px;
  		top: auto;
  		overflow: hidden;
	}

	aside {
		position: fixed;
		top: 0;
		min-width: 260px;
		height: 100%;
		border: 1px solid black;
	}
	
	#nav-bar {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	#nav-bar h2 {
		font-size: 1.5rem;
		line-height: 64px;
		background-image: url(img/js.png);
		background-repeat: no-repeat;
		background-size: 64px 64px;
		padding-left: 66px;
	}
	
	#nav-bar ul {
		display: block;
		padding: 0;
		list-style-type: none;
		width: 100%;
	}
	
	#nav-bar li {
		border-top: 1px solid black;
	}
	
	#nav-bar a {
		display: block;
		padding: 15px 30px;
		width: 100%;
		height: 100%;
		color: black;
	}
	
	#nav-bar li:hover, #nav-bar li:focus {
		box-shadow: 0 0 1000px #DCDCDC inset;
		cursor: pointer;
	}
	
	main {
		margin-left: 0;
		position: absolute;
		left: 300px;
		width: 55%;
		min-width: 0;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	#closebtn {
		position: absolute;
  		left: -10000px;
  		width: 1px;
  		height: 1px;
  		top: auto;
  		overflow: hidden;
	}

	aside {
		position: fixed;
		top: 0;
		min-width: 300px;
		height: 100%;
		border: 1px solid black;
	}
	
	#nav-bar {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	#nav-bar h2 {
		font-size: 1.5rem;
		line-height: 64px;
		background-image: url(img/js.png);
		background-repeat: no-repeat;
		background-size: 64px 64px;
		padding-left: 66px;
	}
	
	#nav-bar ul {
		display: block;
		padding: 0;
		list-style-type: none;
		width: 100%;
	}
	
	#nav-bar li {
		border-top: 1px solid black;
	}
	
	#nav-bar a {
		display: block;
		padding: 15px 30px;
		width: 100%;
		height: 100%;
		color: black;
	}
	
	#nav-bar li:hover, #nav-bar li:focus {
		box-shadow: 0 0 1000px #DCDCDC inset;
		cursor: pointer;
	}
	
	main {
		margin-left: 0;
		position: absolute;
		left: 400px;
		width: 50%;
		min-width: 0;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	#closebtn {
		position: absolute;
  		left: -10000px;
  		width: 1px;
  		height: 1px;
  		top: auto;
  		overflow: hidden;
	}

	aside {
		position: fixed;
		top: 0;
		min-width: 300px;
		height: 100%;
		border: 1px solid black;
	}
	
	#nav-bar {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	#nav-bar h2 {
		font-size: 1.5rem;
		line-height: 64px;
		background-image: url(img/js.png);
		background-repeat: no-repeat;
		background-size: 64px 64px;
		padding-left: 66px;
	}
	
	#nav-bar ul {
		display: block;
		padding: 0;
		list-style-type: none;
		width: 100%;
	}
	
	#nav-bar li {
		border-top: 1px solid black;
	}
	
	#nav-bar a {
		display: block;
		padding: 15px 30px;
		width: 100%;
		height: 100%;
		color: black;
	}
	
	#nav-bar li:hover, #nav-bar li:focus {
		box-shadow: 0 0 1000px #DCDCDC inset;
		cursor: pointer;
	}
	
	main {
		margin-left: 0;
		position: absolute;
		left: 400px;
		width: 60%;
	}
}

@media (min-width: 1400px) {
	#closebtn {
		position: absolute;
  		left: -10000px;
  		width: 1px;
  		height: 1px;
  		top: auto;
  		overflow: hidden;
	}

	aside {
		position: fixed;
		top: 0;
		min-width: 300px;
		height: 100%;
		border: 1px solid black;
	}
	
	#nav-bar {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	#nav-bar h2 {
		font-size: 1.5rem;
		line-height: 64px;
		background-image: url(img/js.png);
		background-repeat: no-repeat;
		background-size: 64px 64px;
		padding-left: 66px;
	}
	
	#nav-bar ul {
		display: block;
		padding: 0;
		list-style-type: none;
		width: 100%;
	}
	
	#nav-bar li {
		border-top: 1px solid black;
	}
	
	#nav-bar a {
		display: block;
		padding: 15px 30px;
		width: 100%;
		height: 100%;
		color: black;
	}
	
	#nav-bar li:hover, #nav-bar li:focus {
		box-shadow: 0 0 1000px #DCDCDC inset;
		cursor: pointer;
	}
	
	main {
		margin-left: 0;
		position: absolute;
		left: 400px;
		width: 70%;
		min-width: 0;
	}
}

.btnVolta {
	font-family: 'PT Mono', monospace;
	font-size: 1.5rem;
	position: fixed;
	top: 0;
	z-index: 3;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #006385;
	border: 1.5px solid #006385;
	color: #E0E0E0;
	border-radius: 5%;
	padding: 10px;
}

.btnVolta:hover, .btnVolta:focus {
	background-color: #E0E0E0;
	color:#006385;
}